<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590848379222-vttpfbi6f3f4p7h1gs0oapdqqfk793lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590848379222-vttpfbi6f3f4p7h1gs0oapdqqfk793lq</string>
	<key>API_KEY</key>
	<string>AIzaSyD9KU1XES9uK6T3csB9_6faCYXaYGkfIaE</string>
	<key>GCM_SENDER_ID</key>
	<string>590848379222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodserve</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-6c023</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-6c023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590848379222:ios:35906c37427d054d31aef7</string>
</dict>
</plist>